<p>Interpolation</p>
<!-- {{2+9*6}}
<br>
{{name}}
<br>
{{"Welcome to "+  name}}
<br>
{{name.length}}
<br>
{{name.toLowerCase()}}
<br>
{{url}}
<br>
<p>Not allowed</p>
{{b=6+9}} -->
<!-- <p>Property Binidng</p>

<input type="text" [id]="inputId"/> -->


<!-- <p>class Binding</p>

<h3 class="text-success">ITI</h3>
<h3 [class]="textColor">ITI</h3>
<h3 [class.text-danger]="hasErr"
    [class.text-success]="!hasErr" 
    [class.text-special]="isSpecial" >
    ITI
</h3>

<h3 [ngClass]="classCollections">
    ITI
</h3> -->

<p>Style binding</p>

<h2 style="color:blue">ITI</h2>
<h2 [style.color]="'blue'">ITI</h2>
<h2 [style.color]="hasErr ? 'red' : 'blue'">ITI</h2>
<h2 [ngStyle]="styleCollection">ITI</h2>

