<p>pipes works!</p>

<!-- {{name}}
<br>
{{name | lowercase}}
<br>
{{name | uppercase}}
<br>
{{name |titlecase}}
<br>
{{name | slice:3}}
<br>
{{name | slice :3:5}} -->

<!-- {{3.567 |number : '1.2-3'}}  
<br> 
{{3.567 |number : '3.4-5'}}
<br>
{{3.567 |number : '3.1-2'}}
<br>
{{0.25 |currency}} -->

{{currentDate}}
<br>
{{currentDate | date :'short'}}
<br>
{{currentDate | date :'shortDate'}}
<br>
{{currentDate | date :'shortTime'}}
<br>
{{currentDate | date :'medium'}}
<br>
{{currentDate | date :'mediumDate'}}
<br>
{{currentDate | date :'mediumTime'}}

<br>
<!-- {{10|square:10}} -->




