
<!-- <app-header></app-header>
<h1>Welcome to Angular</h1>
<app-main-content></app-main-content>
<app-footer></app-footer> -->
<!-- <app-data-binding></app-data-binding> -->


<!-- <router-outlet></router-outlet> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-template-refrence-variable></app-template-refrence-variable> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-structural-directives></app-structural-directives> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-parent></app-parent> -->
<app-emp-list></app-emp-list>
<app-emp-details></app-emp-details>